@font-face {
  font-family: "Abel";
  src: url("../fonts/Abel-Regular.ttf") format("truetype");
}

:root {
  --ff-blue: #172882;
  --ff-red: #d1031b;
  --ff-blue-light: #4b5796;
  --ff-white: #ffffff;
  --ff-big-corner: 50px;
  --ff-litle-corner: 25px;
  --h1-size: 70px;
  --h2-size: 60px;
  --ff-font-family: "Abel", Arial, Helvetica, sans-serif;
}

#navbar {
  background-color: var(--ff-blue);
}

.nav-pills li.nav-item {
  margin-right: 1.5rem;
}

.nav-pills li.nav-item:last-child {
  margin-right: 0;
}

.nav-pills .nav-link {
  border: 2px solid var(--ff-white);
  border-radius: var(--ff-litle-corner);
  background-color: var(--ff-blue);
  font-family: var(--ff-font-family);
  color: white;
  text-transform: uppercase;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.nav-pills .nav-link.active {
  background-color: var(--ff-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-font-family);
  color: var(--ff-blue);
}

h1 {
  font-size: 3.5rem;
}

.btn {
  font-family: var(--ff-font-family);
  border-radius: var(--ff-litle-corner);
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 1.25rem;
}

.btn-primary {
  color: white;
  background-color: var(--ff-blue);
  border: 0px solid var(--ff-blue-light);
  transition: all 200ms ease-in;
}

.btn-primary:hover {
  color: white;
  background-color: var(--ff-blue);
  border-radius: var(--ff-litle-corner);
  border: 3px solid var(--ff-blue-light);
  transition: all 200ms ease-in;
}

.btn-primary-light {
  background-color: var(--ff-blue-light);
  color: white;
  border: 2px solid white;
  transition: all 200ms ease-in;
}

.btn-primary-light:hover {
  color: white;
  border: 4px solid white;
  transition: all 200ms ease-in;
}

.bg-primary-light {
  background-color: var(--ff-blue-light);
}

.divider-v {
  border-right: 1px solid var(--ff-red);
  margin: 0 1rem 0 1rem;
}

.title {
  color: var(--ff-blue);
  font-family: var(--ff-font-family);
  margin-bottom: 2rem;
}

.title::before {
  content: "»";
  font-weight: 300;
  margin-right: 0.5rem;
}
/**
** LARGE TITLE **
**/

.large-title {
  background-color: var(--ff-blue-light);
  text-align: center;
  padding: 3rem 0 3rem 0;
}
.large-title h2 {
  color: white;
  font-family: var(--ff-font-family);
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.large-title-before {
  background-color: var(--ff-blue-light);
}

.container .large-title-before {
  border-radius: var(--ff-litle-corner) 0 0 var(--ff-litle-corner);
}

.large-title-before img {
  height: 10rem !important;
  position: absolute;
  z-index: 1;
  margin-left: 1.5rem;
}

.large-title-after {
  background-color: var(--ff-blue-light);
}

.container .large-title-after {
  border-radius: 0 var(--ff-litle-corner) var(--ff-litle-corner) 0;
}
.large-title-after img {
  height: 10rem !important;
  position: absolute;
  z-index: 1;
  padding-right: 1.5rem;
}
/**
** END OF LARGE TITLE **
**/

/***
** CARD **
***/

.card {
  background-color: var(--ff-blue);
  border-radius: var(--ff-litle-corner);
}

.card img {
  border-radius: var(--ff-litle-corner);
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.card .card-title {
  color: var(--ff-white);
}
.card .card-text {
  color: var(--ff-white);
  font-weight: 200;
}

.card a.btn {
  color: var(--ff-red);
  background-color: var(--ff-white);
  border-radius: var(--ff-litle-corner);
  padding: 0.5rem 2rem 0.5rem 2rem;
  transition: all 200ms ease-in;
}

.card a.btn:hover {
  color: var(--ff-red);
  background-color: var(--ff-white);
  border-radius: var(--ff-litle-corner);
  border: 0.15rem solid var(--ff-red);
  transition: all 200ms ease-in;
}

.card-person {
  max-height: 25rem;
}

.card-person .card-img-top {
  overflow: hidden;
  height: 15rem;
  object-fit: cover;
}

.card-event .card-img-top {
  object-fit: cover;
  overflow: hidden;
  width: 40%;
  min-width: 40%;
}

.card-event .card-body .card-title {
  width: 80%;
}

.card-event .card-body .title-option {
  width: 20%;
}

.card-event .card-body .title-option p {
  background-color: white;
  color: var(--ff-red);
  border-radius: var(--ff-litle-corner);
  text-align: center;
  padding: 0.25rem 1.5rem 0.25rem 1.5rem;
  font-size: 1.2rem;
}

/**
** END OF CARD **
**/

.big-img-container {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.big-img-btn {
  border-radius: var(--ff-litle-corner);
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.big-img-btn + .img-overlay {
  color: white;
  position: absolute;
  bottom: 0;
  padding: 2rem;
  background: transparent
    linear-gradient(180deg, #00000008 0%, #00000099 30%, #000000cc 100%) 0% 0%
    no-repeat padding-box;
  width: 100%;
  height: 30%;
  border-radius: 0 0 var(--ff-litle-corner) var(--ff-litle-corner);
  overflow: hidden;
  right: 0;
  transition: all 200ms ease-in;
}

.big-img-btn + .img-overlay:hover {
  color: white;
  position: absolute;
  bottom: 0;
  padding: 2rem;
  background: transparent
    linear-gradient(180deg, #00000008 0%, #00000099 30%, #000000cc 100%) 0% 0%
    no-repeat padding-box;
  width: 100%;
  height: 50%;
  border-radius: 0 0 var(--ff-litle-corner) var(--ff-litle-corner);
  overflow: hidden;
  right: 0;
  transition: all 200ms ease-in;
}

.img-overlay h4 {
  color: white;
}

.big-img-btn + .img-overlay:hover h4::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 300;
  content: "\f101";
  margin-right: 0.5rem;
}

/** 
** BLOCK **
**/

.block {
  padding: 1rem;
}

.block-rounded {
  border-radius: var(--ff-litle-corner);
}

.block.bg-primary {
  background-color: var(--ff-blue) !important;
}

.block.bg-primary .block-content {
  color: white;
}

.block .block-header {
  color: var(--ff-blue);
  font-family: var(--ff-font-family);
  text-align: center;
  margin-bottom: 1rem;
}

.block.bg-primary .block-header h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.block.bg-primary .block-content {
  background-color: var(--ff-blue);
}

/** 
** END OF BLOCK **
**/

/** 
** LIST-ITEMS **
**/

.list-group-item {
  border-radius: 15px;
  margin-bottom: 1rem;
}

.list-group-item:first-child {
  border-radius: 15px;
}

.list-group-item:last-child {
  border-radius: 15px;
  margin-bottom: 0;
}

.list-group-item .list-item-date {
  background-color: var(--ff-blue);
  color: white;
  font-family: var(--ff-font-family);
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  border-radius: 15px;
}

.list-group-item h6 {
  color: black;
  font-size: 1.3rem;
}

/** 
** END OF LIST-ITEMS **
**/

/** 
** FORMS **
**/
form .form-label {
  font-family: var(--ff-font-family);
  font-size: 1.25rem;
}

form .form-control {
  border-radius: var(--ff-litle-corner) !important;
  border: 4px solid var(--ff-blue-light);
  transition: all 200ms ease;
  color: var(--ff-blue);
}

form .form-control:focus {
  border: 6px solid var(--ff-blue-light);
  box-shadow: none;
  transition: all 200ms ease;
  color: var(--ff-blue-light);
}

/** 
** END OF FORMS **
**/

/** 
** FOOTER **
**/
footer.bg-primary {
  background-color: var(--ff-blue) !important;
}

footer .footer-logo img {
  max-height: 10rem;
}

footer .footer-text p {
  color: white;
  font-weight: 200;
  max-width: 50%;
}

footer .footer-ul .footer-li img {
  max-height: 3.5rem;
}

footer .footer-ul .footer-li .footer-li-text p {
  color: white;
}

footer .footer-bottom {
  background-color: white;
  border-radius: var(--ff-litle-corner);
  border: 2px solid var(--ff-red);
  color: var(--ff-blue);
  font-family: var(--ff-font-family);
  width: 30%;
  padding: 0.7rem;
  text-align: center;
}

footer .footer-bottom a {
  color: var(--ff-blue);
  text-decoration: none;
  transition: all 200ms ease-in;
}

footer .footer-bottom a:hover {
  color: var(--ff-blue);
  text-decoration: underline;
  transition: all 200ms ease-out;
}
/** 
** END OF FOOTER **
**/
